node_modules
dist
build
coverage

.git
.gitignore
.github

.vscode
.idea
.DS_Store

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

test
**/*.spec.ts
**/*.e2e-spec.ts

README.md
Dockerfile
.dockerignore
cloudbuild.yaml
